@model List<Grade>
@{
    ViewData["Title"] = "Grades";
}
<div class="text-center">
    <div class="d-grip gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-success" role="button" asp-controller="Grade" asp-action="CreateGrade">Add new grade</a>
    </div>
    <br />
    <h1 class="display-4">Grades List</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Student</th>
                <th scope="col">Course</th>
                <th scope="col">Subject</th>
                <th scope="col">Teacher</th>
                <th scope="col">Grade</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (Grade grade in Model)
                {
                    <tr>
                        <th scope="row">@grade.Id</th>
                        <td>@grade.student</td>
                        <td>@grade.course</td>
                        <td>@grade.subject</td>
                        <td>@grade.teacher</td>
                        <td>@grade.record</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-outline-primary" asp-route-id="@grade.Id" asp-controller="Grade" asp-action="EditGrade">Edit</a>
                                <a role="button" class="btn btn-outline-danger" asp-route-id="@grade.Id" asp-controller="Grade" asp-action="DeleteGrade">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



