@model List<Teacher> 
@{
    ViewData["Title"] = "Teachers";
}
<div class="text-center">
    <div class="d-grip gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-success" role="button" asp-controller="Teacher" asp-action="CreateTeacher">Add new teacher</a>
    </div>
    <br />
    <h1 class="display-4">Teachers List</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Birthday</th>
                <th scope="col">Salary</th>
                <th scope="col">Course</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (Teacher teacher in Model)
                {
                    <tr>
                        <th scope="row">@teacher.Id</th>
                        <td>@teacher.name</td>
                        <td>@teacher.birthday</td>
                        <td>@teacher.salary</td>
                        <td>test</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-outline-primary" asp-route-id="@teacher.Id" asp-controller="Teacher" asp-action="EditTeacher">Edit</a>
                                <a role="button" class="btn btn-outline-danger" asp-route-id="@teacher.Id" asp-controller="Teacher" asp-action="DeleteTeacher">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
